h3 {
    text-align: center;
    font-weight: bold;
}
body {
    border: 1px solid black;
}
main {
    padding-inline: 20px;
    padding-bottom: 20px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.flock {
    background-color: rgb(184, 184, 184);
    text-align: justify;
    font-weight: bold;
}
.amora{
    color: #ff0000;
}
.produto {
    text-align: justify;
    font-style: italic;
}
.tabela{
    margin-left: auto;
  margin-right: auto;
}
table{
    width: 100%;
}