/* Fonts */

@import url(./fonts/font-awesome.min.css);

/* Header */

@import url(./header/header.css);

/* Footer */

@import url(./footer/footer.css);

/* Ultils */

@import url(./utilites/utilites.css);
@media (max-width: 767px) {
    /* 
 Main começa aqui
*/
    .news,
    .staff,
    .products {
        display: flex;
        flex-direction: row;
        padding: 80px 50px 100px;
    }
    .staff,
    .products {
        flex-wrap: wrap;
    }
    .news div {
        padding: 0 40px;
        border-right: 1px solid #ddd;
    }
    .news div:last-child {
        border-right: none;
    }
    .news h3 {
        color: var(--blue);
        font-weight: lighter;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    .news p {
        color: var(--gray);
        font-size: 0.9em;
        font-weight: lighter;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    .news a,
    .products a {
        background-color: var(--blue);
        font-size: 0.9em;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
    }
    .staff {
        justify-content: space-between;
        background-color: var(--blue);
        color: #fff;
    }
    .staff h2,
    .staff p {
        width: 100%;
        text-align: center;
    }
    .staff h2 {
        margin: 20px;
        font-size: 2.6em;
        font-weight: normal;
    }
    .staff>p {
        margin-bottom: 80px;
    }
    .staff div {
        padding: 50px 30px;
        border: 1px solid #aaa;
    }
    .staff img {
        border-radius: 50%;
    }
    .staff h3 {
        text-align: center;
        font-weight: normal;
        margin: 30px 0 10px;
    }
    .staff p {
        color: #ddd;
    }
    .products {
        justify-content: space-between;
    }
    .products h2,
    .products>p {
        width: 100%;
        text-align: center;
    }
    .products div {
        width: 450px;
        margin: 25px;
    }
    .products img {
        width: 100%;
    }
    .products h2 {
        margin: 20px;
        color: var(--blue);
        font-size: 2.6em;
        font-weight: normal;
    }
    .products>p {
        margin-bottom: 80px;
    }
    .products h3 {
        margin: 20px 0;
        color: var(--blue);
        font-weight: normal;
    }
    .products p {
        color: #aaa;
        line-height: 1.5em;
    }
    .products div p {
        margin-bottom: 30px;
    }
}


/* testes de recursos CSS 3 da aula 
*/

.staff img:hover {
    transform: rotate(360deg);
    transition: transform 1s linear;
}

@media(min-width: 576px) and (max-width: 767px) {
    .news a,
    .products a {
        background-color: var(--blue);
        font-size: 0.9em;
        color: #fff;
        text-decoration: none;
        padding: 10px 140px;
    }
}

@media(min-width: 768px) {
    .news,
    .staff,
    .products {
        padding: 40px 50px 40px;
    }
    .staff,
    .products {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .news {
        display: block;
        padding-top: 0px;
    }
    .news div {
        padding-bottom: 40px;
        padding-top: 40px;
        border-bottom: 1px solid #ddd;
        border-right: none;
        text-align: justify;
    }
    .news div:last-child {
        border-bottom: none;
    }
    .news h3 {
        color: var(--blue);
        font-weight: lighter;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    .news p {
        color: var(--gray);
        font-size: 0.9em;
        font-weight: lighter;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    .news a,
    .products a {
        background-color: var(--blue);
        font-size: 0.9em;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
    }
    .staff {
        justify-content: space-between;
        background-color: var(--blue);
        color: #fff;
    }
    .staff h2,
    .staff p {
        width: 100%;
        text-align: center;
    }
    .staff h2 {
        margin: 20px;
        font-size: 2.6em;
        font-weight: normal;
    }
    .staff>p {
        margin-bottom: 80px;
    }
    .staff div {
        border: 1px solid #aaa;
        width: 48%;
        justify-content: center;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 15px;
    }
    .staff img {
        border-radius: 50%;
        margin: 0 auto;
    }
    .staff h3 {
        text-align: center;
        font-weight: normal;
        margin: 30px 0 10px;
    }
    .staff p {
        color: #ddd;
    }
    .products {
        justify-content: space-between;
    }
    .products h2,
    .products>p {
        width: 100%;
        text-align: center;
    }
    .products div {
        width: 100%;
        text-align: justify;
        padding-bottom: 30px;
    }
    .products img {
        width: 100%;
    }
    .products h2 {
        color: var(--blue);
        font-size: 2.6em;
        font-weight: normal;
    }
    .products h3 {
        margin: 20px 0;
        color: var(--blue);
        font-weight: normal;
    }
    .products p {
        color: #aaa;
        line-height: 1.5em;
        padding-bottom: 40px;
    }
    .products div p {
        margin-bottom: 0px;
    }
}

@media(min-width: 1024px) {
    .news,
    .staff,
    .products {
        display: flex;
        flex-direction: row;
        padding: 80px 50px 50px;
    }
    .staff,
    .products {
        flex-wrap: wrap;
    }
    .news div {
        padding: 0 40px;
        border-right: 1px solid #ddd;
        border-bottom: none;
    }
    .news div:last-child {
        border-right: none;
    }
    .news h3 {
        color: var(--blue);
        font-weight: lighter;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    .news p {
        color: var(--gray);
        font-size: 0.9em;
        font-weight: lighter;
        line-height: 1.5em;
        margin-bottom: 30px;
    }
    .news a,
    .products a {
        background-color: var(--blue);
        font-size: 0.9em;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
    }
    .staff {
        justify-content: space-between;
        background-color: var(--blue);
        color: #fff;
        padding-top: 0px;
    }
    .staff h2,
    .staff p {
        width: 100%;
        text-align: center;
    }
    .staff h2 {
        margin: 20px;
        font-size: 2.6em;
        font-weight: normal;
    }
    .staff>p {
        margin-bottom: 80px;
    }
    .staff div {
        border: 1px solid #aaa;
        width: 23%;
        text-align: center;
        justify-content: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .staff img {
        border-radius: 50%;
    }
    .staff h3 {
        text-align: center;
        font-weight: normal;
    }
    .staff p {
        color: #ddd;
    }
    .products {
        justify-content: space-between;
    }
    .products h2,
    .products>p {
        width: 100%;
        text-align: center;
    }
    .products div {
        width: 45%;
    }
    .products h2 {
        margin: 20px;
        color: var(--blue);
        font-size: 2.6em;
        font-weight: normal;
    }
    .products>p {
        margin-bottom: 10px;
    }
    .products h3 {
        margin: 20px 0;
        color: var(--blue);
        font-weight: normal;
    }
    .products p {
        color: #aaa;
        line-height: 1.5em;
    }
    .products div p {
        margin-bottom: 30px;
    }
}